* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.welcome {
  background-image: url("//images.ctfassets.net/bxe1nnyp7aam/1sA6N1Uejr3iB1QAfKGe33/ae8206a0d5b783faf8135e9eedad418f/desktop-1245714_1920.jpg");
  background-size: auto;
}

.welcome__container {
  min-height: 616px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.welcome__title,
.welcome__sub-title,
.presentation__title {
  color: white;
  font-family: Montserrat;
  font-weight: 700;
  margin: 0;
}

.welcome__title {
  font-size: 48px;
  text-shadow: 2px 1px black;
}

.welcome__sub-title {
  font-size: 32px;
  margin-top: 11px;
  text-shadow: 2px 1px black;
}

.presentation {
  min-height: 538px;
  background-color: black;
  color: white;
  padding: 0 31px;
  display: flex;
  align-items: center;
}

@media (min-width: 769px) {
  .presentation {
    background-color: #ffffff;
    color: black;
    padding: 0;
    min-height: 500px;
    justify-content: center;
  }
}

.presentation__img {
  display: none;
}

@media (min-width: 769px) {
  .presentation__img {
    display: inherit;
    margin-right: 50px;
    align-self: flex-end;
  }
  .presentation__text-container {
    word-wrap: break-word;
  }
}

.presentation__title {
  font-size: 32px;
  color: #ffffff;
  font-weight: 700;
  text-align: center;
}

@media (min-width: 769px) {
  .presentation__title {
    color: black;
    text-align: inherit;
  }
}

.presentation__text {
  font-size: 16px;
  font-family: Poppins;
  font-weight: 400;
  margin: 80px 0 0 0;
}

@media (min-width: 769px) {
  .presentation__text {
    font-size: 24px;
    line-height: 36px;
    margin: 24px 0 0 0;
    width: 610px;
  }
}

.services {
  padding: 60px 56px;
  background-color: #fafafa;
  text-align: center;
}
.my-services__container {
}

@media (min-width: 769px) {
  .my-services__container {
    display: flex;
    justify-content: space-evenly;
  }
}

.services-card {
  margin-top: 60px;
}

.services__title {
  margin: 0;
  font-family: Montserrat;
  font-size: 32px;
  font-weight: 700;
}

.my-services__title {
  margin: 10px 0 10px 0;
  font-family: Poppins;
  font-size: 24px;
  font-weight: 700;
}

.my-services__text {
  width: 262px;
  margin: 0;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
}

.my-services__img {
  width: 138px;
  height: 128px;
}
